image.pngimage.png.container{ 
    display: flex; 
    align-items: center;
    border-style: solid;
    border-color: #d4d6d6;
    border-spacing: 20%;
    border-width: 0.6px;
    margin: 10px;
}

.img1{
    display: flex;
    margin-bottom: 25px;
    margin-right: 25px;
    

}

.img2{
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 18px;
}


.img3{
   color:  #565959;
   font-size: 14px;
}

.main{
    padding-bottom: 10%;
    font-family: "Amazon Ember",Arial,sans-serif;

}































































